header {
    width: 400;
    height: 100;
    background: rgb(255, 255, 255);
   
   }
   
     #header {
       width: 400;
       height: 100;
       background:rgb(255, 255, 255);
     }

     #logo {
        width:250;
        margin-top: -60px;
     }

     #logopequena {
        width:0;
        margin-top: 0;
     }

     #base {
        position: absolute;
        left:54%;
        top:63%;
     }
   
     #voltar {
        position: absolute;
        left:33%;
        top:63%;
     }
   
     #imgvolt {
        position: absolute;
        left:30%;
        top:45%;
     }
   
     #imgbase {
        position: absolute;
        left:55%;
        top:45%;
     }

     footer {
        color: aliceblue;
        background: #003de4;
        position: fixed;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 100px;
     }