#logo {
   width:250;
   margin-top: -60px;
}

#imgvolt {
   position: absolute;
   left:30%;
   top:45%;
   width: 150;
   display: block;
   margin:0 auto;
}

#msgvolt {
 position: absolute;
 left:33%;
 top:65%;
 display: block;
 margin:0 auto;
}

#imgbase {
   position: absolute;
   left:55%;
   top:45%;
   width: 150;
}

footer {
   font-style: italic;
   font-weight: bold;
   color: aliceblue;
   background: #01396e;
   position: fixed;
   bottom: 0px;
   left: 0;
   width: 100%;
   height: 100px;
}

#bairro {
   color: aliceblue;
}

#rua {
 color: aliceblue;
}

#site {
 color: aliceblue;
}

#background {
 background-size: 100%;
}

ol li {
 list-style-type: none;
}

input {
 padding: 0;
 border: none;
 background: none;
 font-style: italic;
 font-weight: bold;
 color: aliceblue;
 background: #01396e;
 text-decoration: underline;
   
}

#logopequena {
 position: absolute;
 right: 0%;
}